section{
  &.outer{
    padding-top:6em;
    min-height:500px;
  }
  &.index{
    padding-top:80px;
    min-height:500px;
  }
}

.sign-in-window{
  h4{
    margin-bottom:1em;
  }
  input{
    max-width:80%;
    margin-bottom:1em;
  }
  @include justify-content(space-between);
  &>.icons{
    &>span{
      &:first-of-type{
        margin-right:.5em;
      }
    }
  }
}

.promo-box{
  min-height:300px;
}

.box-divider{
  width:1px;
  background:$gray-light;
  height:400px;
}

.facebook{
  color:map-get($Color,facebook);
}

.twitter{
  color:map-get($Color,twitter);
}

.hint{
  color:map-get($Color,hint);
}

.font-bold{
  font-family:map-get($Font,medium);
}

.font-light{
  font-family:map-get($Font,light);
}

.search-bg{
  color:$white;
  background:map-get($Color,accent);

}

.accent{
  color:map-get($Color,accent);
}

.secondary-accent{
  color:map-get($Color,secondary-accent);
}

.primary-accent{
  color:map-get($Color,primary-accent);
}

.content-container{
  width:100%;
  height:300px;
  &.accent{
    @extend .search-bg;
  }
  .flex-content{
    height:300px;
  }
}
