<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../elliptical-polymer-behaviors/component-behavior.html">


<dom-module id="ui-input-addon">
    <template>
        <input type="text" placeholder="[[placeholder]]" name="[[name]]" id="[[data-id]]" data-bind="[[bind]]" value="[[value]]">
        <ui-button class="ui-button [[button-class]]"><span class="[[icon-class]]">[[button-value]]</span></ui-button>
    </template>
</dom-module>

<script>

    Polymer({

        is: 'ui-input-addon',

        behaviors:[Elliptical.ComponentBehavior],

        properties: {
            placeholder:{
                type:String,
                value:''
            },
            name:{
                type:String,
                value:''
            },
            dataId:{
                type:String,
                value:''
            },
            bind:{
                type:String,
                value:null
            },
            buttonClass:{
                type:String,
                value:null
            },
            iconClass:{
                type:String,
                value:''
            },
            buttonValue:{
                type:String,
                value:''
            },
            value:{
                type:String,
                value:null
            }

        },

        ready:function(){
            this._setValueProp();
            this._setIconClass();
            this._setButtonClass();
        },

        _setValueProp:function(){
            var element=this.element;
            var node=this;
            Object.defineProperty(node, 'value', {
                get: function() { return element.find('input').val(); },
                set: function(newValue) { element.find('input').val(newValue); },
                enumerable: true,
                configurable: true
            });
        },

        _setIconClass:function(){
            if(this.iconClass !==''){
                var span=this.querySelector('span');
                span.classList.add(this.iconClass);
            }
        },

        _setButtonClass:function(){
            if(this.buttonClass !==''){
                var button=this.querySelector('ui-button');
                button.classList.add(this.buttonClass);
            }
        }

    });

</script>