<link rel="import" href="../ui-behaviors/dropdown.html">


<script>
Elliptical(function(){
    $.element('ui-button-dropdown',[Elliptical.Behaviors.Dropdown],{
        options: {
            mode:'dropdown',
            handleEvents:false,
            proxyUpgrade: true,
            hideOnBlur:true,
            autoClose:false
        },

        _initElement: function(){
            var dropdown = this.element.find('ui-dropdown');
            if(!dropdown[0]){
                dropdown=this.element.find('ui-mega-dropdown');
            }
            if(!dropdown[0]){
                this._destroy();
                return;
            }
            this._data.set('dropdown',dropdown);
            this._focus();
            this.__events();
        }


    });
});
</script>