<link rel="import" href="../ui-behaviors/dialog.html">

<style>
    ui-window .close-icon{
        font-size:16px;
    }
</style>
<ui-window parse-attr definition>
    <template>
        <header>
            <div class="close"  aria-hidden="true">
                <span aria-hidden="true" class="icon-core-cross close-icon"></span>
            </div>
            <h3>[[title]]</h3>
        </header>
        <section>
            <content></content>
        </section>
        <footer>
            <button  class="ui-button [[button-size]]" data-cancel>[[cancel-label]]</button>
            <button class="ui-button [[button-class]]  [[button-size]]" data-action="[[button-role]]">[[button-label]]</button>
        </footer>
    </template>
</ui-window>

<script>
    Elliptical(function(){
        $.element('ui-window',[Elliptical.Behaviors.Dialog],{
            options: {
                animationIn:'none',
                animationOut: 'none',
                duration: 300,
                height: null,
                width: null,
                top: null,
                bottom: null,
                left: null,
                right: null,
                modal: false,
                title: '',
                buttonLabel: 'Action',
                cancelLabel:'Cancel',
                zIndex: 110000,
                setZIndex:false,
                opacityCss:null,
                cssClass:null,
                buttonRole:'action',
                disablePhone:false
            },

            _initElement: function(){
                this._isOpen = false;
                this._setModalInit();
                this._initWindow(this.element);
                this.__events();
            }

        });
    });
</script>